@{
 ViewBag.title = "Index";
}
 
@model IEnumerable<Patient>
    <style>
        .text-center, mb-6{
            padding-bottom: 2em;
        }
    </style>
      <h1 class="text-center mb-6">Liste des Patients</h1>
    @if (Model.Count() > 0)
    {
      <div class="container text-center">
      <div class="row">
        <div class="col-1"></div>
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>Nom de famille</th>
                    <th>Prénom</th>
                    <th>Sexe_p</th>
                    <th>Num_secu</th>
                    <th>Details (Html Helper)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Patient in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => Patient.Nom_p)</td>
                        <td>@Html.DisplayFor(m => Patient.Prenom_p)</td>
                        <td>@Html.DisplayFor(m => Patient.Sexe_p)</td>
                        <td>@Html.DisplayFor(m => Patient.Num_secu)</td>
 
                        @* <TD>@Html.ActionLink("details", "ShowDetails", new { id = @Patient.PatientId })</TD> *@
                        <TD><a asp-action="Edit" asp-route-id="@Patient.PatientId" id="accueil"> edit</a> </TD>
                          <div class="container">
        <h1>Test Exception</h1>
        <form asp-action="ThrowException" method="post">
            <button type="submit" class="btn btn-danger">Lancer une exception</button>
        </form>
    </div>
                    </tr>
                }
            </tbody>
        </table>
        <div class="col-1"></div>
      </div>
      </div>

    }
    else
    {
        <p>Il n'y a pas de patient</p>
    }
   

 